Please add photo
<form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="NewPost">
    <div class="form-group">
        <div class="col-md-10">
            <p>Upload one or more files using this form:</p>
            <input type="file" name="files" multiple />
        </div>
    </div>
    
    <label>How many cubes?</label>
    <input type="text">
    <select class="dropdown">
        <button class="dropbtn">Dropdown</button>
        <div class="dropdown-content">
            <option href="#">16:9</option>
            <option href="#">9:16</option>
            <option href="#">1:1</option>
            <option href="#">default</option>
        </div>
    </select>
    <div class="form-group">
        <div class="col-md-10">
            <input type="submit" value="Upload" />
        </div>
    </div>
</form>